{{define "content"}}
<section>
	<h2>Add Product</h2>
	<form hx-post="/admin/products" hx-target="#form-result" hx-swap="innerHTML">
		<label>Name<br>
			<input type="text" name="name" required>
		</label><br><br>

		<label>Slug<br>
			<input type="text" name="slug" required>
		</label><br><br>

		<label>Description<br>
			<textarea name="description"></textarea>
		</label><br><br>

		<label>Price (USD)<br>
			<input type="number" name="price" step="0.01" min="0" required>
		</label><br><br>

		<label>Product Code (4 characters)<br>
			<input type="text" name="product_code" maxlength="4" minlength="4" required>
		</label><br><br>

        <label>Seats (simultaneous device activations per license)<br>
			<input type="number" name="seats" min="1" step="1" value="1" required>
		</label><br><br>

		<label>Stub/Installer URL<br>
			<input type="url" name="stub_url" required>
		</label><br><br>

		<label>Product Type<br>
			<select name="tax_code" required>
				<option value="txcd_10202000">Software (Downloadable, Personal Use)</option>
				<option value="txcd_10302000">Digital Book (Downloaded, Permanent)</option>
			</select>
		</label><br><br>

		<button type="submit">Create Product</button>
	</form>
	<div id="form-result"></div>
</section>
{{end}}
